PORT=3000
BIND_ADDRESS=0.0.0.0
PERSONAL_MCP_API_KEY=change-me
MCP_PUBLIC_URL=https://timbhanson.com/mcp
MCP_OAUTH_ISSUER=https://timbhanson.com
MCP_OAUTH_ACCESS_TOKEN_TTL_SECONDS=7776000

HOME_ASSISTANT_URL=http://host.docker.internal:8123
HOME_ASSISTANT_TOKEN=

HOMESERVER_URL=http://host.docker.internal:3000
HOMESERVER_API_KEY=

MEALIE_URL=http://host.docker.internal:9925
MEALIE_TOKEN=

VIKUNJA_URL=http://host.docker.internal:3456
VIKUNJA_TOKEN=
